.container {
    background-color: white;
      max-width: 900px; 
     border-radius: 20px;
     box-shadow: #75a8d7 10px 10px;
     color: #0d0516;
     padding: 20px;
     margin: 50px;
     justify-content: center;
   }

   p {
    color:  #75a8d7 ;
   }