main {
  background-color: #0d0516;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  height: 975px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #75a8d7;
  color: white;
  font-weight: 600;
  font-family: sans-serif;

}

h2 {
  padding: 20px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}


// @media screen and (max-width: 767px) {
// }

// @media screen and (max-width: 575px) {
// }
