<p>ticket works!</p>

<!-- <app-flight></app-flight> -->


<div [ngClass]="{ container: true }">
<div>Lot z Krakowa do {{selectedDestination}} </div>
<div> Liczba pasażerów {{selectedNumberOfPassengers}}</div>


<div>
    <div>Zarezerwuj miejsce</div>
    
 
      <div *ngIf="selectedDestination === 'Warszawa'">
        <img [src]="srcOne" alt="samolot1">
      </div>

      <div *ngIf="selectedDestination == 'Paryż'">
        <img [src]="srcTwo" alt="samolot2">
      </div>

      <div *ngIf="selectedDestination === 'Los Angeles'">
        <img [src]="srcThree" alt="samolot3">
      </div>


    <div>
      <label>Liczba miejsc:</label>
      <input type="number" min="1" [(ngModel)]="passengerCount">
    </div>
    
    <div *ngIf="passengerCount > 0">
      <h3>Przypisz miejsce:</h3>
      <div *ngFor="let passenger of passengers">
        <h4>Pasażer {{ passenger.id }}</h4>
        <div>Wybierz miejsce:</div>
        <select [(ngModel)]="passenger.seat">
          <option *ngFor="let seat of seats" [value]="seat">{{ seat }}</option>
        </select>
      </div>
      
      <button (click)="assignSeats()">Wybierz miejsce</button>





     


      
      <h3>Wybrane miejsce:</h3>
      <ul>
        <li *ngFor="let passenger of passengers">
          Pasażer {{ passenger.id }} - {{ passenger.seat }}
        </li>
      </ul>
     
     
    </div>
  </div>
</div>
 