.container {
    background-color: white;
    //  min-height: 150px;
    // min-width: 600px;
      max-width: 900px; 
     border-radius: 20px;
     box-shadow: #75a8d7 10px 10px;
     color: #0d0516;
     padding: 20px;
     margin: 50px;
   }

img {
    max-width: 700px;
}